<!DOCTYPE html>
<html lang="en">
<head>
    <style>

heydork {
    Hi friend! You've found me. I'm gonna like make this a little more functional 
    with flask. But we needed to get this information out before it's too late
}

body {
    font-family: Helvetica, Arial, Sans-Serif;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000
}

h1 {
    font-size: 40pt;

}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 6pt;
}

a:link, a:visited, a:hover, a:active    {
    color:#ffffff; background-color:transparent; text-decoration:none
}



</style>
</head>

<body>

<h1>
    ROBERT <a href="http://devinemiracles.com/twin-flames.html"target="_blank">+</a> JESS MCDONOUGH<br></h1>
        
<h2>
    WE ALREADY GOT HITCHED AT THE COURTHOUSE<br>
    BUT WE’D LOVE TO HANGOUT AND TALK ABOUT IT<br>

    <br>TWENTY SIXTEEN JULY THIRTIETH FOUR O'CLOCK
    <br>OUR BACKYARD: FIFTY FOURTY N OBERLIN
    <br>PDX NINE SEVEN TWO ZERO THREE<br>
    <br>THANKS, BUT NO THANKS:<br> 
    <br>
    <a href="http://www.mytuxedocatalog.com/wp-content/uploads/C9625.jpg"target="_blank">TUXEDO(S)</a>
    <br>
    <a href="http://i.huffpost.com/gen/1299321/thumbs/o-INFOGRAPHIC-COST-OF-RAISING-CHILD-900.jpg"target="_blank">CHILDREN</a>
    <br>
    <a href="https://www.youtube.com/watch?v=z_AbfPXTKms"target="_blank">PETS</a>
    <br>VUVUZELAS
</h2>

</body>

</html>
